
/*General Styles */

body {
  
      margin: 0 auto;
    }


.container-fluid{

padding: 30px 35px;

}
.pull-left{

   float: left;
      padding:0;
      display: inline;
}

.pull-right{

   float: right;
   padding:0;
     display: inline;
}

a {
    color: #3b5998;
    cursor: pointer;
    text-decoration: none;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: inherit;
    background-color: inherit;
   font-weight: bold;
}

.navbar-toggle{

border: none;
background: none;
}

#loading{ 

  background: url('../ajax-loader.gif') no-repeat center center;
background-color: transparent;
    border: 0px solid;
width: 100px;
height: 100px;
position: absolute;
top: 50%;
left: 50%;
margin: -50px 0px 0px -50px;
  z-index: 2000;

}


/*Home Page Styles*/

.banner{
       position: absolute; 
       bottom: 8.5%; 
       background-color:rgba(221,238,238,0.5);
       width: 100%; 
       z-index: 5;    
       margin-right: -100px !important;
	     -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
      -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
      box-shadow: 0px 1px 5px 0px #4a4a4a;
    	padding:0;
	     border-width:0;
font-family: "proxima-nova";
line-height: 1.6em;
letter-spacing: 0px;
font-weight: 400;
font-style: normal;
font-size: 20px;
}





.navLink{
font-family: Varela Round,Helvetica,arial,sans-serif;
font-weight: 400;
z-index: 2000;

}

#header{
margin: 0;
font-family: helvetica neue;
letter-spacing: 0px;
line-height: 1.2em;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 300;
font-style: normal;
font-size: 46px;
display: inline-block;
}



.slides-pagination{

  position: relative;
  bottom: 7.5em; 
  z-index: 1040;
  width: 50%;
  margin: auto;
}

.slides-navigation a {

display: block;
text-decoration: none;

color: white;
font-weight: bold;
font-size: 26px;
margin: 0 25px;
text-shadow: 0 1px 1px #000;
text-align: center;
top: -50px;
padding: 1px;
z-index:1042;
opacity: .4;

-moz-transition: background 0.15s ease;
-o-transition: background 0.15s ease;
transition: background 0.15s ease;
}


.slides-pagination a {
border: 2px solid white;
opacity:.8;
}

.slides-pagination a.current {
background: white;
}

a {
color: inherit;
}

/*Gallery Styles*/

#header-gallery{


  margin: 0;
font-family: helvetica neue;
letter-spacing: 0px;
line-height: 1.2em;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 300;
font-style: normal;
font-size: 46px;
display: inline-block;
}

.navbar-header > a:hover, .navbar-header > a:hover> a:focus {
    color: inherit;
    background-color: inherit;
  
}


#am-container{

    width : 100% !important;
    margin-top: 115px;
}




#fancybox-left-ico {
left: 20px;
}

#fancybox-right-ico {
right: 20px;
left: auto;
}

 .fancybox-next span {
  left: auto;
  right: 20px;
 }
 .fancybox-prev span {
  left: 20px;
 }
.navItem{
  margin-left: 20px;
  letter-spacing: 0px;
  text-transform: none;
  font-style: normal;
  font-weight: 400px;
  font-size : 18px;
}


.Collage{

    /* define how much padding you want in between your images */
    padding:10px;

    }

.Collage img{

  
  vertical-align:bottom;

  opacity:0;

    }


.fancybox-nav span {
width: 50px;
height: 50px;
margin-top: 0px;

}

.fancybox-prev span, .fancybox-next span {
background-image: url('../images/white-chevron.png');
background-repeat: no-repeat;
background-size: 50px 50px;
opacity: .4;
}

.fancybox-prev {
  left: 0;
  margin
  background-position: 0% 0%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.fancybox-next {
  right: 0;
  background-position: 0% 0%;
}

.fancybox-prev span{
position: absolute;
left: auto;
right: 10px;
background-position: center;

  }

.fancybox-next span{
position: absolute;
left: auto;
right: 10px;
background-position: center;

  }

    /*About Me*/
.about-nav {
/*background-color: rgba(221,238,238,0.5);*/
width: 100%;
z-index: 5;
-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
box-shadow: 0px 1px 5px 0px #4a4a4a;
padding: 0;
border-width: 0;
font-family: "proxima-nova";
line-height: 1.6em;
letter-spacing: 0px;
font-weight: 400;
font-style: normal;
font-size: 20px;
}
#about-header{
background-color:rgba(221,238,238,0.5);
       /*background-color: #DDEEEE; */
       width: 100%; 
       z-index: 5;    

       -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
      -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
      box-shadow: 0px 1px 5px 0px #4a4a4a;
      padding:0;
      background-color: ##444; 
       border-width:0;
display:  block;
font-family: "proxima-nova";
line-height: 1.6em;
letter-spacing: 0px;
font-weight: 400;
font-style: normal;
font-size: 20px;
}

.about-container{

width:90%;
margin: auto;
padding-bottom: 5%;
}

section p{
 word-wrap: break-word;


}

.about-section-left{
  width : 65%;
  height: 100%;
  padding-bottom: 5%;
}

.about-section-right{
  width : 25%;
  height: 100%;
}
.about-bio{
display: table-cell; 
height: 300px; 
vertical-align: middle; 
}

#profile{

  width:40%;
}


/*responsive*/

@media (max-width: 900px) {

  #header{

float:left;
max-width: 80%;
/*    font-size:31px;*/
  }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
/*    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }*/
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }




}

@media (max-width: 760px) {
#header-gallery{

font-size: 26px;
float:left;
margin-top: 10px;

}

#header{

font-size: 26px;
float:left;
margin-top: 10px;

}


.container-fluid{

padding: 20px 25px;

}
.about-container{

width:100%;

}

.slides-pagination{
bottom:7em;

}

.about-bio{
font-size:11px;
}

#profile{

  width:80%;
}

}


