<div class= "about-container">
        <section class="about-section-left pull-left"> <img id= "profile"src="images/Katie-profile.jpg"></section>
        <section class="about-section-right pull-left"> 
<div class = "about-bio">



          <p>Cinematographer | Photographer | Editor | Dancer | U of Iowa Grad 
        </p>
      </br>
    </br>
        <p> 

For bookings, print purchases, and educational inquiries contact me at booking@katiemoffitt.com</p></div></section>


         
      
         