 <nav class= "navbar container" role = "navigation">

 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" id="home-dropdown" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      
        <i class="fa fa-bars fa-2x"></i>
      </button>  <a class="navbar-brand" href="#">
    <div id= "header">
    Katie Moffitt
</div>
</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav pull-right">
         <li class="navLink"><a link="#gallery">galleries</a></li>
            <li class="navLink"><a link="#aboutMe">about me</a></li>
             <li class="navLink"><a link="#contactMe">contact me</a></li>
         </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class= "about-container">
        
        <section class="about-section"> <p>For bookings and inquiries please contact me at kathryn.e.moffitt@gmail.com.</p></section>


         
        

          <section class="mastfoot">
          
            <p>

<a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">

</p>
</div>
            </section>
         