 <nav class= "banner navbar container" role = "navigation">

 <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" id="home-dropdown" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      
        <i class="fa fa-bars fa-2x"></i>
      </button>
    <div id= "header">
    Katie Moffitt
</div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav pull-right">
         <li class="navLink"><a link="#gallery">photo galleries</a></li>
         <li class="navLink"><a link="#videoGallery">videos</a></li>
            <li class="navLink"><a link="#aboutMe">about me</a></li>
           <!-- <li class="navLink"><a link="#contactMe">contact me</a></li>-->
         </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div id="slides">
    <div class="slides-container">
                   {{ _.each(model, function(link) { }}

          <img src={{=link}}></img>
{{ }); }} 
</div>

    <nav class="slides-navigation">
      <a href="#" class="next"><img src="images/white-chevron.png" style="height:2em; "> </a>
      <a href="#" class="prev"><img src="images/white-chevron.png" style="height:2em;     -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";"> </a>
    </nav>
  </div>